@use 'reset';
@use '_settings' as settings;

// themecolor
@each $key, $colors in settings.$theme-color-list {
    .theme-color-#{$key} {
        background: map-get($colors, back);

        .bg-field {
            background-color: map-get($colors, field);
            background-image: linear-gradient(0deg, map-get($colors, grid) 1%, transparent 2%,transparent 99%, map-get($colors, grid) 1%), 
            linear-gradient(90deg, map-get($colors, grid) 1%, transparent 2%,transparent 99%, map-get($colors, grid) 1%);
            background-size: 10% 5%;
            position: relative;

            &::before {
                content: '';
                position:absolute;
                top: 0;
                left: 0;
                opacity: .3;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-image: linear-gradient(0deg, map-get($colors, grid) 1%, transparent 2%,transparent 99%, map-get($colors, grid) 1%), 
                linear-gradient(90deg, map-get($colors, grid) 1%, transparent 2%,transparent 99%, map-get($colors, grid) 1%);
                background-size: 10% 5%;
            }
        }
        .bg-column {
            background: map-get($colors, column);
        }
        .bg-pent {
            background-image: linear-gradient(to bottom, transparent 8%, map-get($colors, column) 8%);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 4%;
                left: 50%;
                height: auto;
                width: 52%;
                aspect-ratio: 1/1;
                transform: rotate(45deg) skew(-20deg, -20deg) translateX(-52%);
                background: map-get($colors, column);
                z-index: -1;
            }
        }
        .bg-menu {
            background: map-get($colors, menu);
        }
        .color-headText {
            color: map-get($colors, headText);
        }
        .color-text {
            color: map-get($colors, text);
        }
        .bg-button {
            background: map-get($colors, button);
            position: relative;

            &.is-circle .btn_icon {
                fill: map-get($colors, text);
            }

            &.is-square {
                &.is-drop::before {
                    border-color: transparent transparent map-get($colors, text) transparent;
                }
                &.is-left::before {
                    border-color: transparent map-get($colors, text) transparent transparent;
                }
                &.is-right::before {
                    border-color: transparent transparent transparent map-get($colors, text);
                }
                &.is-down::before {
                    border-color: map-get($colors, text) transparent transparent transparent;
                }
            }
        }
        .bg-meter {
            background: map-get($colors, meter);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left:0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, transparent 85%, map-get($colors, column) 15%);
                background-size: 100% 10%;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left:0;
                width: 100%;
                height: 100%;
                background: map-get($colors, column);
            }
            @for $i from 1 through 10 {
                &.speed#{$i}::after {
                    height: 101% - ($i*10%);
                }
            }
        }
    }
}


// minos color
@each $key, $colors in settings.$mino-color-list {
    .mino-color-#{$key} {
        @each $k, $color in $colors { 
            .mino-#{$k} {
                background: $color;
                color: $color;
            }
        }
    }
}

// mixin
@mixin verticalCenter() {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & > * {
        width: 100%;
    }
}


// tag

* {
    touch-action: manipulation;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family: 'Arial',sans-serif;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: -webkit-fill-available;
    align-items: center;
    justify-content: center;
}

button, select {
    &:not(:disabled){
        cursor: pointer;
    }
    
}

// class
.title {
    width: 0;
    height: 0;
    font-size: 0;
}

.container {
    width: 100%;
    max-height: calc(100vw - 20px);
    max-width: calc(100vh - 20px);
    aspect-ratio: 1/1;
    margin: 10px;
    display: grid;
    grid-template-columns: 4fr 8fr 2fr 2fr;
    grid-template-rows: 6fr 3fr 3fr 3fr 3fr 4fr; 
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "hold field next next"
    "score field future speed"
    "timer field future speed"
    "contL field future speed"
    "contL field contR contR"
    "contL field contR contR";

    &_column {
        position: relative;
        overflow: hidden;

        &.is-hold { 
            grid-area: hold;
            margin: 0 10px 10px 0;
        }   
        &.is-score { 
            grid-area: score; 
            margin: 0 10px 10px 0;
        }  
        &.is-timer { 
            grid-area: timer; 
            margin: 0 10px 10px 0;
        }
        &.is-contL { 
            grid-area: contL; 
            margin-right: 10px;
            @include verticalCenter();
        }
        &.is-field { grid-area: field; }
        &.is-next { 
            grid-area: next; 
            margin: 0 0 10px 10px;;
        }
        &.is-future { 
            grid-area: future;
            margin: 0 0 10px 10px;;
            padding: 30% 20% 0;

            .el_title {
                width: 0;
                height: 0;
                font-size: 0;
            }
            .el_canvas {
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
        &.is-speed { 
            grid-area: speed; 
            margin: 0 0 10px 10px;;
            padding: 5px 10px 10px;

            .el_title {
                font-size: 80%;
                text-align: center;
            }
            .el_meter {
                width: 100%;
                height: calc(100% - 20px);
                object-fit: contain;
            }
        }
        &.is-contR { 
            grid-area: contR;
            margin-left: 10px;
            @include verticalCenter();
        }
        
        .subTitle {
            font-size: 80%;
            text-align: center;
            margin-bottom: 5px;
        }
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-weight: 600;
            position: relative;

            &.is-circle {
                aspect-ratio: 1/1;
                width: calc(13/38*100%);
                border-radius: 50%;
                margin-bottom: 10%;
            }
            &.is-rect {
                aspect-ratio: 3/1;
                width: calc(30/38*100%);
                margin-bottom: 10%;
            }
            &.is-square {
                aspect-ratio: 1/1;
                width: calc(11/38*100%);
                &::before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                }
                &.is-drop::before {
                    border-width: 0 12px 16px 12px;
                    margin-bottom: 10px;
                }
                &.is-left::before {
                    border-width: 12px 16px 12px 0;
                    margin-right: 10px;
                }
                &.is-right::before {
                    border-width: 12px 0 12px 16px;
                    margin-left: 10px;
                }
                &.is-down::before {
                    border-width: 16px 12px 0 12px;
                    margin-top: 10px;
                }
            }
            &_icon {
                position: absolute;
                bottom: 50%;
                right: 50%;
                transform: translate(50%, 50%);
                height: 0;
                width: 80%;
                height: 80%;
                object-fit: contain;
            }
            &:active, &.is-active {
                opacity: .6;
            }
        }

        &_title {
            position: absolute;
            top: 3px;
            left: 5px;
            font-weight: 600;

            &.is-hidden {
                width: 0;
                height: 0;
                font-size: 0;
            }
        }
        &_canvas {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &_score {
            padding: 25% 10px 0;
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &_time {
            text-align: center;
            padding-top: 25%;
            font-size: 20px;
        }

        &_turn {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &_menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            backdrop-filter: blur(3px);

            .menu {
                width: 100%;
                text-align: center;

                &_result {
                    display: none;
                    margin-bottom: 60px;

                    &_title {
                        font-weight: 600;
                        margin-bottom: 30px;
                    }
                    &_newRecord {
                        display: none;
                        @keyframes blink { from { opacity: 1 } to { opacity: .5 } }
                        animation: .5s linear infinite alternate blink;
                        margin-bottom: 10px;
                        font-size: 50%;
                    }
                    &_score {
                        .el_label {
                            display: inline-block;
                            font-size: 80%;
                            margin-right: 10px;
                        }
                        .el_number {
                            font-weight: 600;
                            display: inline-block;
                        }
                    }
                }

                &_title {
                    font-weight: 600;
                    margin-bottom: 30px;
                }
                &_btn {
                    display: block;
                    width: 135px;
                    margin: 10px auto;
                    font-weight: 600;
                    position: relative;
                    opacity: .6;
    
                    &:not(:disabled):hover {
                        opacity: 1;

                        &::before {
                            content: '→';
                            display: block;
                            position: absolute;
                            bottom: 50%;
                            left: -10px;
                            transform: translateY(50%);
                            width: auto;
                            height: 100%;
                            aspect-ratio: 1/1;
                        }
                    }
                    &:disabled {
                        opacity: .3;
                    }
                    & + .menu_setting {
                        margin-top: 30px;
                    }
                }
                &_setting {
                    font-size: 80%;
                    margin-top: 10px;

                    &_select {
                        width: 100px;
                        font-weight: 600;

                        &:hover {
                            opacity: .8;
                        }
                    }
                    &_colors {
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        font-size: 0;

                        .el_item {
                            width: 10px;
                            height: 10px;
                            margin: 0 2px;
                        }
                    }
                }
            }
        }
        &_arrow {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .el_top, .el_bottom {
                width: 100%;
            }
            .el_middle {
                width: calc(1/3*100%);

                .btn {
                    width: calc(33/38*100%);

                    &.is-left {
                        margin-right: -5%;
                    }
                    &.is-right {
                        margin-left: -5%;
                    }
                }
            }
            .el_middle, .el_bottom {
                margin-top: -10%;
            }
        }
    }
}

// for responsive
@media screen and (max-width: 600px) {
    .container {
        max-height: calc(160vw - 20px);
        max-width: calc(62.5vh - 20px);
        height: calc(100% - 20px);
        height: -webkit-fill-available;
        aspect-ratio: 5/8;
        display: grid; 
        grid-template-columns: 15fr 32fr 16fr 15fr; 
        grid-template-rows: 15fr 41fr 40fr 29fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "hold field field next"
        "score field field future"
        "timer field field speed"
        "contL contL contR contR"; 

        &_column {

            &.is-score, &.is-timer {
                writing-mode: vertical-rl;

                .container_column_title {
                    top: 3px;
                    left: auto;
                    right: 3px;
                }
                .container_column_score, .container_column_time{
                    padding: 10% 15% 10% 0;
                }
            }
            &.is-timer { 
                margin-bottom:  0;
            }
            &.is-contL { 
                margin-top: 10px;
                flex-direction: row;
                padding: 2% 0;

                & > * {
                    width: 50%;
                }
                & > .btn.is-circle {
                    order: 4;
                    width: calc(13/38*50%);
                }
                & > .btn.is-rect {
                    order: 6;
                    width: 40%;
                }

                .subTitle {
                    margin: 2px 0 0;

                    &.is-hold {
                        order: 2;
                    }
                    &.is-turn {
                        order: 1;
                    }
                    &.is-pouse {
                        order: 5;
                        width: 100%
                    }
                }
                .btn {
                    margin: 0 auto;
                }

            }
            &_turn {
                order: 3;
            }
            &.is-field {
                .container_column_canvas {
                    height: 100%;
                    width: auto;                   
                }
            }
            &.is-future { 
                padding: 30% 24% 0;
            }
            &.is-speed { 
                margin-bottom: 0;
                padding: 5px;
    
                .el_title {
                    font-size: 10px;
                }
                .el_meter {
                    height: calc(100% - 10px);
                }
            }
            &.is-contR { 
                margin-top: 10px;
            }
            &_arrow {
                margin: 1% 0 3%;

                .subTitle {
                    margin-bottom: 0;
                    transform: scale(.8);
                }

                .btn.is-square {
                    width: 20%;
                }
                .el_middle {
                    margin-top: -14%;

                    .btn.is-square {
                        width: 60%;
                    }
                }
            }

            .btn {
                font-size: 0;

                &.is-square {
                    &.is-drop::before {
                        border-width: 0 6px 8px 6px;
                        margin-bottom: 5px;
                    }
                    &.is-left::before {
                        border-width: 6px 8px 6px 0;
                        margin-right: 5px;
                    }
                    &.is-right::before {
                        border-width: 6px 0 6px 8px;
                        margin-left: 5px;
                    }
                    &.is-down::before {
                        border-width: 8px 6px 0 6px;
                        margin-top: 5px;
                    }
                }
            }

            &_title {
                font-size: 10px;
            }
            &_menu .menu {
                &_btn {
                    font-size: 14px;
                }
                &_setting_label {
                    font-size: 12px;
                }

            }
            
        }
    }
}